@(message: String)

@main("Welcome to Play") {

    


    <script type="text/javascript">
    	  $(document).ready(function(){
		    $('ul.tabs').tabs();


		    


		    setInterval(function () {
		    	$.ajax({
                    type: "GET",
                    url: "/getdatos" ,
                    dataType: 'json',
                    success: function(data) { 

                        var  hijos = tmpl("template-encuestas", data);
                        $('#gamers').html(hijos);

                       
                    }
            });
		    }, 2000);




		  });
      

    </script>


   <div class="container">
   	
    

	   <div class="row">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3"><a class="active" href="#test1">Desempeño de equipos</a></li>
	        <li class="tab col s3"><a  href="#test2">Test 2</a></li>
	        <li class="tab col s3"><a href="#test3">Test 3</a></li>
	        <li class="tab col s3"><a href="#test4">Test 4</a></li>
	      </ul>
	    </div>
	    <div id="test1" class="col s12">
	    	<div id="elemento"></div>
	    	<div id="gamers"></div>
	    </div>

	    <div id="test2" class="col s12">Test 2</div>
	    <div id="test3" class="col s12">Test 3</div>
	    <div id="test4" class="col s12">Test 4</div>
	  </div>


	  
	</div>     

	

	<script id="template-encuestas" type="text/x-tmpl">

		<table class="striped center-align">
	        <thead>
	          <tr>
	              <th data-field="id" colspan="7" class="center-align">Equipos</th>

	          </tr>
	        </thead>

	        <tbody>


	           {% for (var i=0, hijo; hijo=o.gamers[i]; i++) { %}
               <tr>
                 <td>
                  <span><img class="responsive-img circle" width="50"   src="@routes.Assets.at("images/super.png")"> {%=hijo.imagen%}</span>
                 </td>
                 <td>
                  <span>{%=hijo.nombre%}</span>
                 </td>
                 <td>
                 	{%=hijo.variable%}
                  
                 </td>
                 <td>-</td>
                 <td>{%=hijo.variable2%}</td>
                 <td>{%=hijo.nombre2%}</td>
                 <td><img class="responsive-img circle" width="50"   src="@routes.Assets.at("images/super.png")"> {%=hijo.imagen2%}</td>    
               </tr> 
            {% } %}
	         
	        </tbody>
	      </table>

	</script>   

}
